<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rinri-d.xyz/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://rinri-d.xyz/css/style.css">
    <link rel="shortcut icon" href="https://rinri-d.xyz/images/logo.ico" type="image/x-icon">
    <title>RinRi - Apps</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="https://rinri-d.xyz" style="color: var(--color1);">
            RinRi-D
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="https://rinri-d.xyz">Home</a>
                <a class="nav-item nav-link" href="https://blog.rinri-d.xyz">Blog</a>
                <a class="nav-item nav-link active" href="https://apps.rinri-d.xyz">Apps</a>
                <a class="nav-item nav-link" href="https://git.rinri-d.xyz">Code</a>
                <a class="nav-item nav-link" href="https://rinri-d.xyz/rec.html">Recommendations</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <h1>Node.js apps are hosted on this subdomain.</h1>
        <p>
        <h2>Apps:</h2>
        <ul>
            <li><a href="https://blog.rinri-d.xyz">Blog</a></li>
        </ul>
        </p>
    </div>
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">Email: <a
                        href="mailto:rin@rinri-d.xyz">rin@rinri-d.xyz</a> <a
                        href="https://cloud.rinri-d.xyz/s/TtX6ny2x7XLSaeK">(PGP)</a>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">Mastodon: <a
                        href="https://fosstodon.org/@rinri">@rinri@fosstodon.org</a> </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">Matrix: <a
                        href="https://matrix.to/#/@rinri-d:matrix.org">@rinri-d:matrix.org</a> </div>
            </div>
            <div style="text-align: center;">&copy; Copyright 2020 RinRi-D.xyz</div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</body>

</html>