        </main>
    
        <footer>
            <div class="container">
                <hr style="margin-bottom: 0.5rem;">
                <div class="contacts">
                    <p>
                        rin(at)rinri-d(d0t)xyz <a href="https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x63f37e00f69fdf1e">(PGP)</a>
                    </p>
                    <p>
                        public key: 63F37E00F69FDF1E
                    </p>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>