<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://rinri-d.xyz/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://rinri-d.xyz/css/style.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.0/styles/atom-one-dark.min.css">
    <link rel="shortcut icon" href="https://rinri-d.xyz/images/logo.ico" type="image/x-icon">
    <title>RinRi - Blog</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="https://rinri-d.xyz" style="color: var(--color1);">
            RinRi-D
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="https://rinri-d.xyz">Home</a>
                <a class="nav-item nav-link active" href="https://blog.rinri-d.xyz">Blog</a>
                <a class="nav-item nav-link" href="https://apps.rinri-d.xyz">Apps</a>
                <a class="nav-item nav-link" href="https://git.rinri-d.xyz">Code</a>
                <a class="nav-item nav-link" href="https://rinri-d.xyz/rec.html">Recommendations</a>
                <a class="nav-item nav-link" href="https://rinri-d.xyz/about.html">About</a>
            </div>
        </div>
    </nav>